<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grain.mappers.ds1.TbfwOrderCDRYMapper">
   	<insert id="insert">
        INSERT INTO de_tbfw_order_cdryConfig
        (
         name)
        VALUES
            (
             #{name});
    </insert>
     <select id="getList"  resultType="TbfwOrderCDRY">
        SELECT
            id,
            name
        FROM de_tbfw_order_cdryConfig
        order by name
    </select>
    <update id="update">
     UPDATE  de_tbfw_order_cdryConfig
      SET
      name =  #{name}
      WHERE id = #{id};
    </update>
</mapper>